body {
    margin: 0%;
    font-family: "nunito";
    font-size: 24px;
}

.overlay {
    opacity: 1;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: black;
}

.share,
.overlay {
    display: none;
}

.show-share {
    display: block;
}

.share {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    z-index: 1;
    padding: 1em;
    background: hsl(0, 0%, 100%);
}

.h2 {
    margin: 0;
}

.button {
    border: none;
    padding: .8em 1.2em;
    margin-top: 3em;
    width: 32%;
    cursor: pointer;
}